---
---
@import "variables";

/********************
 *   ROOT ELEMENT   *
 ********************/
html{
    font-family: none;
    color: $base-color;
}


/****************
 *   SECTIONS   *
 ****************/
footer {
    font-family: $fancy-font;
}
header{
    font-family: $fancy-font;

    h1{ font-size: 2.0em; }
    p{ color: $weak-color; }
}
hr{
    border-style: none;
    border-bottom: solid 1px $weak-color;
    width: 90%;
}
h1 { font-family: $fancy-font; font-size: 1.6em; }
h2 { font-family: $fancy-font; font-size: 1.4em; font-weight: normal; }
h3 { font-family: $fancy-font; font-size: 1.2em; font-weight: normal; }
h4 { font-family: $fancy-font; font-size: 1.0em; font-weight: normal; }

table {
    border-spacing: 8px 4px;

    td {
        border-bottom: solid 1px lightgray;
    }
}


/************************
 *   GROUPING CONTENT   *
 ************************/
p{ font-size: 1.0em; }
blockquote{
    font-style: italic;
    background-color: $bg-color;

    padding: 1.0em 2.0em;
    position: relative;

    &:before, &:after{
        font-size: 3.0em;
        font-family: initial;
        color: $weak-color;
        position: absolute;
    }
    &:before{
        content: "\201C";
        top: -0.15em; 
        left: 0.15em;
    }
    &:after{
        content: "\201D";
        bottom: -0.75em; 
        right: 0.5em;
    }
}


/****************************
 *   TEXT-LEVEL and EDITS   *
 ****************************/
.post-head{
    time {
        font-family: $mono-font;
        font-size: 0.8em;
    }
    a {
        margin-left: 8px;
    }
}
code{ font-family: $code-font; }
a{
    color: $emph-color;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        color: $hover;
        text-decoration: underline;
    }
}

/*************************
 *   TAG OF CATEGORIES   *
 *************************/
.self-introduction {
    font-family: $fancy-font;
    text-align: center;

    figure {
        width: auto;
        img{
            margin: 32px auto;

            width: 160px;
            height: 160px;
            border-radius: 50%;
            border: dashed 1px black;
        }
    }
}
.category{
    font-size: 0.8em;

    text-decoration: none;
    background-color: $bg-color;

    padding-left: 0.4em;
    padding-right: 0.4em;

    border-radius: 3px;
    border: solid 1px $emph-color;

    &:hover {
        color: $bg-color;

        background-color: $emph-color;
        text-decoration: none;
    }
}


/****************
 *   OCTICONS   *
 ****************/
.octicon{
    font-size: 1.2em;
    margin-right: 0.3em;
    fill: currentColor;
    &:hover { text-decoration: none; }
}


/*******************
 *   SOCIAL LINK   *
 *******************/
ul.share{
    display: flex;
    justify-content: center;
    list-style: none;
    li{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
