---
---
/********************
 *   ROOT ELEMENT   *
 ********************/
*{ box-sizing: border-box; }
html{ max-width: 800px; margin: auto; }


/****************
 *   SECTIONS   *
 ****************/
header{ text-align: center; }
footer{
    text-align: center;

    ul{
        list-style: none;

        @media (max-width: 480px) {
            li{
                &:after{ content: ""; margin: 16px; }
                &:last-child:after{ content: ""; }
            }
        }
        @media (min-width: 480px) {
            display: flex;
            justify-content: center;

            li{
                &:after{ content: "/"; margin: 8px; }
                &:last-child:after{ content: ""; }
            }
        }
    }
}
section{
    margin: auto;
    width: 80%;
}
article{
    @extend section;
    h1, h2, h3, h4, h5, h6{
        margin-top: 40px;
        position: relative;
        left: -1.0em;
    }
}
hr{ margin: 1.6em auto; }
nav{
    text-align: center;
    a{ margin: 1.0em; }
}
figure {
    width: 100%;
    img {
        width: 100%;
    }
}


/************************
 *   GROUPING CONTENT   *
 ************************/
blockquote{ margin: 5%; }


/**************
 *   TABLES   *
 **************/
table{ margin: auto; }
